<div class="card" *ngIf="movie">
    <div class="img-section">
        <img src="{{movie.imgSrc}}" alt="">
    </div>
    <div class="description-section">
        <div class="description">
            <h3>{{movie.title}}</h3>
        </div>
        <div class="rating" [ngStyle]="calculateStyle(movie.vote_average)">{{movie.vote_average}}</div>
    </div>
    <div class="overview">
        <span style="font-size:26px;font-weight: bold;">Overview:</span>
        {{movie.overview}}
    </div>
</div>